*{
  margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url('../Images/photo-1503803548695-c2a7b4a5b875.jpeg');
    background-size: cover;
}

header{
    content: " ";
    clear: both;
    display:block;
    float: top;
}

nav{
    float: right;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    line-height: 60px;
}

nav ul li a:hover{
    color: chocolate;
}

.container{
    max-width:1200px;
    margin: 0 px auto;
}

article{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 110px;
}

img{
    padding-left: 0px;
    padding-top: 0px;
    margin-right: 40px;
    max-width: 100%;
    float: left;
}

p{
    margin-bottom: 20px;
}

h1{
    margin-bottom: 10px;
}

ul{
    margin-left: 20px;
    margin-bottom: 20px;  
}
.lists{
    padding-bottom: 0px;
    display: block
}

footer{
    text-align: center;
    padding: 20px;
    float: bottom;
}